* {
  margin: 0;
}

body {
  /*max-width: 800px;*/
}

.container {
  display: flex;
  flex-wrap: wrap;


}

.box {
  border-style: solid;
  border-color: #777;
  border-width: 1;
  width: 400px;
  height: 400px;
  /*margin: 10px 10px;*/
  padding: 10px 10px;
  margin: 5px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition:all 1s ease;
  /*animation-play-state: running;*/
  /*flex: 1;*/
  flex-grow: 1;

}
.box:hover{
  background:#53a7ea;
  /*flex-grow: 4.3;*/
  /*flex: 10*/
  /*height: 550px !important;*/
  /*width: 550px !important;*/
  /*transition: All 1s ease-in-out;*/
  /*position:relative;*/
}

